<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>CFBundleDevelopmentRegion</key>
        <string>$(DEVELOPMENT_LANGUAGE)</string>
        <key>CFBundleDisplayName</key>
        <string>SoulFirst</string>
        <key>CFBundleExecutable</key>
        <string>$(EXECUTABLE_NAME)</string>
        <key>CFBundleIdentifier</key>
        <string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
        <key>CFBundleInfoDictionaryVersion</key>
        <string>6.0</string>
        <key>CFBundleName</key>
        <string>SoulFirst</string>
        <key>CFBundlePackageType</key>
        <string>APPL</string>
        <key>CFBundleShortVersionString</key>
        <string>$(FLUTTER_BUILD_NAME)</string>
        <key>CFBundleSignature</key>
        <string>????</string>
        <key>CFBundleVersion</key>
        <string>$(FLUTTER_BUILD_NUMBER)</string>
        <key>LSRequiresIPhoneOS</key>
        <true/>
        <key>LSApplicationQueriesSchemes</key>
        <array>
            <string>mailto</string>
        </array>
        <key>UILaunchStoryboardName</key>
        <string>LaunchScreen</string>
        <key>UISupportedInterfaceOrientations</key>
        <array>
            <string>UIInterfaceOrientationPortrait</string>
            <string>UIInterfaceOrientationLandscapeLeft</string>
            <string>UIInterfaceOrientationLandscapeRight</string>
        </array>
        <key>UISupportedInterfaceOrientations~ipad</key>
        <array>
            <string>UIInterfaceOrientationPortrait</string>
            <string>UIInterfaceOrientationPortraitUpsideDown</string>
            <string>UIInterfaceOrientationLandscapeLeft</string>
            <string>UIInterfaceOrientationLandscapeRight</string>
        </array>


        <!-- Permissions -->

        <key>NSPhotoLibraryUsageDescription</key>
        <string>We need access to your photos to update profile pictures and tournament images.</string>
        <key>NSPhotoLibraryAddUsageDescription</key>
        <string>We need permission to save tournament-related images to your photo library.</string>
        <key>NSUserNotificationUsageDescription</key>
        <string>This app uses notifications to keep you updated on important information.</string>
        <key>PermissionGroupNotification</key>
        <string>Notification Permission is required to allow notifications</string>

        <!-- Network -->
        <key>NSAppTransportSecurity</key>
        <dict><key>NSAllowsArbitraryLoads</key><true/></dict>

        <!-- Firebase -->
        <key>FirebaseAppDelegateProxyEnabled</key><true/>

        <!-- Background modes -->
        <key>UIBackgroundModes</key>
        <array><string>remote-notification</string></array>


        <key>CADisableMinimumFrameDurationOnPhone</key>
        <true/>
        <key>UIApplicationSupportsIndirectInputEvents</key>
        <true/>

        <!-- Google Sign-In - REVERSED CLIENT ID (Correct Way) -->
        <key>CFBundleURLTypes</key>
        <array>
            <dict>
                <key>CFBundleTypeRole</key>
                <string>Editor</string>
                <key>CFBundleURLSchemes</key>
                <array>
                    <!-- THIS MUST BE THE REVERSED CLIENT ID FROM GoogleService-Info.plist -->
                    <string>com.googleusercontent.apps.180241236164-bv6akd7k3baetfd069ev8onmvnj33mr9</string>
                </array>
            </dict>
        </array>

        <!-- Optional: You can keep this, but it's not used by the SDK -->
        <key>GIDClientID</key>
        <string>180241236164-bv6akd7k3baetfd069ev8onmvnj33mr9.apps.googleusercontent.com</string>
</dict>
</plist>